# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environments
venv/
.venv/
env/

# Environment
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
logs/
*.log

# Data
data/raw/
data/processed/
data/chunks/
data/embeddings/
data/qdrant_db/

# Metadata
/metadata/

# Jupyter
.ipynb_checkpoints/

# Python cache
.pytest_cache/
.mypy_cache/
